* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    list-style: none;
    box-sizing: border-box;
    
}
nav .logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
 }
 nav {
    width: 100%;
    height: 75px;
    background-color:rgb(7, 0, 4);
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;
 
 }
 nav .logo p{
     float: left;
     color: #fff;
     text-transform: uppercase;
 }
 nav ul{
     float: right;
 }
 nav ul li{
     display: inline-block;
     list-style: none ;
 }
 nav ul li a{
     color:  lightgreen;
     text-decoration: none;
     font-size: 18px;
     text-transform: uppercase;
     padding: 0px 88px ;
 }
 nav ul li a:hover{
     color: red;
 }
 nav ul li .active{
     color:red;
 }
 #logo{
     width: 70px;
     height:70px;
    
     position: relative;
     float: left;
 }
 #header{
    background-color:blanchedalmond;
    height:700px;
    width: auto;
    margin:cover;
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;

}
.slides{
width: 500%;
height: 500px;
display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;

}
.slide img{
    width: 800px;
    height: 500px;

}

.navigation-manual{
position: absolute;
width: 800px;
margin-top: -40px;
display: flex;
justify-content: center;

}
.manual-btn{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;

}
.manual-btn:hover{
    background: #40d3dc;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
.navigation-auto{
position: absolute;
display: flex;
width: 800px;
justify-content: center;
margin-top: 460px;
}
.navigation-auto div{
border: 2px solid #40d3dc;
padding: 5px;
border-radius: 10px;
transition: 1s;
}
.navigation-auto div:not(:last-child)
{
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto.auto-btn1{
    background: #40d3dc;
}
#radio2:checked ~ .navigation-auto.auto-btn2{
    background: #40d3dc;
}
#radio3:checked ~ .navigation-auto.auto-btn3{
    background: #40d3dc;
}
#radio4:checked ~ .navigation-auto.auto-btn4{
    background: #40d3dc;
}
#radio5:checked ~ .navigation-auto.auto-btn5{
    background: #40d3dc;
}
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    background-color: aqua;
    width: 50%;
    border-left: none;
    height: 800px;
    overflow:scroll;
  }
  .tab button.active {
    background-color: rgb(209, 37, 37);
  
  }
  .tab button:hover {
    background-color: rgb(209, 37, 37);
  }
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
   
  }
  .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 800px;
    
  }
  #div3{
    background-color: orange;
    display: inline-block;
    height: 400px;
    width: 300px;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    }
    #div4{
    background-color:purple;
    height: 400px;
    width: 300px;
    position: relative;
    text-align: center;
    font-weight: bold;
    
    overflow: auto;
    }
    #footer{
        background-color:darkgreen ;
        height:300px;
        width: auto;
        font-weight: bold;
        text-align: center;
        position: relative;
        
    
    }